<div class="container mt-4">
  <h2 class="text-center mb-4">User List</h2>
  <div *ngIf="users.length === 0" class="alert alert-info">
    No users found.
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.active ? 'Active' : 'Inactive' }}</td>
        <td>
          <button (click)="toggleActivation(user.id)" class="btn btn-warning btn-action">
            {{ user.active ? 'Deactivate' : 'Activate' }}
          </button>
          <button class="btn btn-danger btn-sm btn-action" (click)="deleteUser(user.id)">Delete</button>
          <button class="btn btn-info btn-sm btn-action" (click)="viewUser(user.id)">View</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <button (click)="navigateToCreate()" class="btn btn-success btn-add">Add User</button>

    <button (click)="logout()" class="btn btn-danger ">Logout</button>
  </div>

</div>
